<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Object entries,
                <b ng-show="showBObject">borrowed by you</b>
                <b ng-show="showLObject">lend from you</b>
            </h3>

            <div class="box-tools" ng-show="showBObject">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <select class="form-control pull-right">
                        <option>Cat 1</option>
                        <option>Cat 2</option>
                    </select>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-refresh"></i></button>
                        <button type="submit" class="btn btn-info">Add new entry</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Name</th>
                    <th>Who?</th>
                    <th>Date</th>
                    <th>Deadline</th>
                    <th style="width: 200px;">Description</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Priority</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>Cinos150</td>
                    <td>11-7-2016 01:11 AM</td>
                    <td>11-7-2016 01:11 AM</td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    <td>MyCategory</td>
                    <td>20.5</td>
                    <td><span class="label label-success">Low</span></td>
                    <td><div class="btn-group">
                        <button type="button" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button>
                    </div></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>