<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Money entries, (type2)</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Name</th>
                    <th>Who?</th>
                    <th>Date</th>
                    <th>Deadline</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Priority</th>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>Cinos150</td>
                    <td>11-7-2016 01:11 AM</td>
                    <td>11-7-2016 01:11 AM</td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    <td>$2000</td>
                    <td><span class="label label-success">Low</span></td>
                </tr>
                <tr>
                    <td>Cinos150</td>
                    <td>Alexander Pierce</td>
                    <td>11-7-2016 01:11 AM</td>
                    <td>11-7-2016 01:11 AM</td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    <td>$2000</td>
                    <td><span class="label label-danger">Hot</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>