<toolbar ng-show="collector.isLoggedIn"></toolbar>
<main-sidebar ng-show="collector.isLoggedIn"></main-sidebar>

<div ng-show="collector.isLoggedIn" class="content-wrapper">
    <section class="content-header">
        <h1>
            Add
            <small>new entry for Money.</small>
        </h1>
    </section>

    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Entry details</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form name="addEditMForm" role="form" ng-submit="addEditMForm.$valid && addEditMoneyEntry(newMEntry.type)">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputType">Type: </label>
                        <select id="inputType" ng-model="newMEntry.typeid">
                            <option value="1">Borrowed</option>
                            <option value="2">Lend</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" ng-model="newMEntry.title" required />
                    </div>
                    <div class="form-group">
                        <label for="inputWho">Who?</label>
                        <input type="text" class="form-control" id="inputWho" ng-model="newMEntry.who" required />
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <textarea class="form-control" rows="3" id="inputDescription" ng-model="newMEntry.descr"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputDateDeadline">Initial date and deadline</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type="text" ng-model="newMEntry.deadline" class="form-control pull-right" id="inputDateDeadline">
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAmount">Amount</label>
                        <input type="number" class="form-control" id="inputAmount" ng-model="newMEntry.amount" required />
                    </div>
                    <div class="form-group">
                        <label for="inputCurrency">Currency: </label>
                        <select id="inputCurrency" ng-model="newMEntry.currencyid">
                            <option ng-repeat="currency in currencies" value="{{ currency.crid }}">{{ currency.curlname }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputPriority">Priority: </label>
                        <select id="inputPriority" ng-model="newMEntry.priority">
                            <option value="0">Low</option>
                            <option value="1">Hot</option>
                        </select>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">Add/Edit</button>
                </div>
            </form>
        </div>
    </section>
</div>
<control-sidebar ng-show="collector.isLoggedIn"></control-sidebar>
<div ng-show="collector.isLoggedIn" class="control-sidebar-bg"></div>
<script>
    $('#inputDateDeadline').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY hh:mm:ss'});
</script>