<toolbar ng-show="collector.isLoggedIn"></toolbar>
<main-sidebar ng-show="collector.isLoggedIn"></main-sidebar>

<div ng-show="collector.isLoggedIn" class="content-wrapper">
    <section class="content-header">
        <h1>
            Add
            <small>new entry for Object.</small>
        </h1>
    </section>

    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Entry details</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form name="addEditOForm" role="form" ng-submit="addEditOForm.$valid && addEditObjectEntry(entry.type)">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputType">Type</label>
                        <select id="inputType" ng-model="entry.type">
                            <option value="1">Borrowed</option>
                            <option value="2">Lend</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" ng-model="entry.name" required/>
                    </div>
                    <div class="form-group">
                        <label for="inputWho">Who?</label>
                        <input type="text" class="form-control" id="inputWho" ng-model="entry.who" required/>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <textarea class="form-control" rows="3" id="inputDescription" ng-model="entry.descr"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputDeadline">Deadline</label>
                        <input type="datetime" class="form-control" id="inputDeadline" ng-model="entry.deadline"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="inputAmount">Amount</label>
                        <input type="number" class="form-control" id="inputAmount" ng-model="entry.amount" required/>
                    </div>
                    <div class="form-group">
                        <label for="inputCategory">Category</label>
                        <select id="inputCategory" ng-model="entry.category">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputPriority">Priority</label>
                        <select id="inputPriority" ng-model="entry.priority">
                            <option value="0">Low</option>
                            <option value="1">Hot</option>
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </section>
</div>

<control-sidebar ng-show="collector.isLoggedIn"></control-sidebar>
<div ng-show="collector.isLoggedIn" class="control-sidebar-bg"></div>